@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>At Waste Management we take a new approach to a dated system of refuse collection. We are driven to provide the best User Experience. Join and see for yourself..</p>
