@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Waste Management</h1>
    <p class="lead">Waste Management is a new approach to your refuse solutions.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

